/* nav {
    position: absolute;
    width: 100%;
} */
.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    list-style-type: none;
    font-size: 19px;
}
.items {
    position: relative;
    /* top: 8rem; */
    width: 100%;
    padding: 5px 0;
    text-align: center;
    color: #4C2F11;
    cursor: pointer;
    background-color: #fff;
}

.items:hover {
    background-color: rgb(165, 164, 164);
    color:#fff;
}

.btn {
    display: block;
    position: absolute;
    left: 10px;
    /* top: 6.8rem; */
    padding: 5px 0;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 34px;
    height: 30px;
    background-color: #fff;
    color: #000;
    border: none;
}

.btn .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
  }

#bar1 {
    width: 50%;
}


@media screen and (min-width: 960px){
    
    .list {
        list-style-type: none;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        gap: 10px;
    }
    
    .items {
        width: auto;
        /* top: 5.4rem; */
        text-align:start;
        padding: 2px 0;
        
    }

    .btn {
        display: none;
    }

}
