.topnavbar{
  display: flex;
  flex-direction: column;
  /* padding-bottom: 50px; */
}


.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.navbar{
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0; */
  display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: 0rem  1rem;
    background-color: #fff;
    color: white;
  }
  
  @media screen and (min-width: 960px) {
    .navbar {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
    }
  }

.Icons {
  padding-right: 40px;
  padding-top: 90px;
}