.BackToTop {
    position: fixed;
    bottom: 35px;
    right: 22px;
    width: 80px;
    height: 40px;
    text-align: center;
    font-size: 19px;
    font-weight: 500;
    background: var(--button-primary-color);
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    box-shadow: var(--button-box-shadow);
    z-index: 50;
  }
  
  .BackToTop:hover {
    background-color: #1B4848;
  }