.title{
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    margin: 18px;
}

.gridBox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.konsertquizuteliv, .matdryck, .kulturlivsstil, .sportfritid, .konsthantverk, .allakategorier{
    display: flex;
    width: 140px;
    height: 130px;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    align-items: center;
    justify-content: center;
    margin: 18px;
    box-shadow: var(--button-box-shadow);
    text-transform: uppercase;
}

.konsertquizuteliv {
    background-color: #C2A7E4;
}

.matdryck{
    background-color: #C3D5A5;
}

.kulturlivsstil{
    background-color: #F1ACA5;
}

.sportfritid{
    background-color: #97BEDD;
}

.konsthantverk{
    background-color: #FFDB97;
}
.allakategorier{
    background-color: #D4BBA1;
}