.toggleBtn {
    width: 110px;
    height: 35px;
    border-radius: 6px;
    background-color: #157C79;
    color: #fff;
}

.toggleClose {
    background-color: red;
}

.cont {
    background-color: #157C79;
}

.cont2 {
    background-color: gold;
}
