.eventboxUtelivKonsertQuiz, .eventboxKulturLivstil, .eventboxSportFritidGuider, .eventboxMatDryck, .eventboxKonstHantverk, .eventboxHalsaSkonhet, .eventboxDefault{
   width: 100%;
   height: auto;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   margin-bottom:25px;
}

.eventboxUtelivKonsertQuiz{
    background: #FCD46C;
}
.eventboxKulturLivstil{
    background:#7299E6;
    ;
}
.eventboxSportFritidGuider{
    background: #E67372;
}
.eventboxMatDryck {
    background: #75C7B9;
}
.eventboxKonstHantverk{
    background: #FFBD59;
}
.eventboxHalsaSkonhet{
    background: #E196BB;
}
.eventboxDefault{
    background: gray;
}


.borderbox{
    width: 98%;
    height: 340px;
    margin: 10px;
    padding: 5px;
    background: #FFC130;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items:flex-end
}
.eventimg{
    width: 98%;
    height: 315px;
    margin: 8px;
    background: rgb(216, 216, 216);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items:flex-end
}

.event{
    width: 100%;
    height: 180px;
    padding: 5px;
    background: #FFF;
    color: black;
    border-radius: 5px;
}

@media screen and (min-width: 760px) {
    .eventboxUtelivKonsertQuiz, .eventboxKulturLivstil, .eventboxSportFritidGuider, .eventboxMatDryck, .eventboxKonstHantverk, .eventboxHalsaSkonhet, .eventboxDefault{
        width: 460px;
    }
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

