
.title{
    color: var(--heading-color);
    font-family: var(--heading-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}
.description{
    font-family: var(--default-font-family);
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
}

.categoryText{
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    margin: 0;
    padding: 0;
}

.categoryUtelivKonsertQuiz, .categoryKulturLivstil, .categorySportFritidGuider, .categoryMatDryck, .categoryKonstHantverk, .categoryHalsaSkonhet, .categoryDefault{
    width: 111px;
    height: 22px;
    display: flex;
    position: relative;
    left: -9.1rem;
    top: -3rem;
    justify-content: center;
    align-items: center;
    font-style: normal;

    box-shadow: 0px 2.94415px 1.96277px rgba(0, 0, 0, 0.2), 0px 0.981383px 9.81383px rgba(0, 0, 0, 0.12), 0px 3.92553px 4.90692px rgba(0, 0, 0, 0.14), 0px 1.96277px 3.92553px -0.981383px rgba(0, 0, 0, 0.2);
    
    
}





.eventboxUtelivKonsertQuiz, .eventboxKulturLivstil, .eventboxSportFritidGuider, .eventboxMatDryck, .eventboxKonstHantverk, .eventboxHalsaSkonhet, .eventboxDefault{
   width: 100%;
   height: auto;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   margin-bottom:25px;
}

.eventboxUtelivKonsertQuiz, .categoryUtelivKonsertQuiz{
    background: #FCD46C;
}
.eventboxKulturLivstil, .categoryKulturLivstil{
    background:#7299E6;
    ;
}
.eventboxSportFritidGuider, .categorySportFritidGuider{
    background: #E67372;
}
.eventboxMatDryck, .categoryMatDryck  {
    background: #75C7B9;
}
.eventboxKonstHantverk, .categoryKonstHantverk{
    background: #FFBD59;
}
.eventboxHalsaSkonhet, .categoryHalsaSkonhet{
    background: #E196BB;
}
.eventboxDefault, .categoryDefault{
    background: gray;
}


.innerBoarderUtelivKonsertQuiz, .innerBoarderKulturLivstil, .innerBoarderSportFritidGuider, .innerBoarderMatDryck, .innerBoarderKonstHantverk, .innerBoarderHalsaSkonhet, .innerBoarderDefault{
    width: 98%;
    height: 340px;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items:flex-end
}
.innerBoarderUtelivKonsertQuiz{
    background: #FFC130;
} 
.innerBoarderKulturLivstil {
    background: #416AD2;
}
.innerBoarderSportFritidGuider{
    background: #D24341;
}
.innerBoarderMatDryck{
    background: #40A593;
}
 .innerBoarderKonstHantverk{
    background: #FF9211;
 }
 .innerBoarderHalsaSkonhet {
    background: #B36D8F;
 }
 .innerBoarderDefault{
    background: rgb(99, 99, 99);
 }










.eventimg{
    width: 98%;
    height: 315px;
    margin: 8px;
    background: rgb(216, 216, 216);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items:flex-end
}

.event{
    width: 100%;
    height: 180px;
    padding: 5px;
    background: #FFF;
    color: black;
    border-radius: 5px;
}

@media screen and (min-width: 760px) {
    .eventboxUtelivKonsertQuiz, .eventboxKulturLivstil, .eventboxSportFritidGuider, .eventboxMatDryck, .eventboxKonstHantverk, .eventboxHalsaSkonhet, .eventboxDefault{
        width: 460px;
    }
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

