.eventbtn {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-self: center;
    align-items: center;
    width: 125px;
    height: 40px;
    background: var(--button-primary-color);
    border-radius: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 7px;
    cursor: pointer;
    color: #fff;

    gap: 1rem;
    position: absolute;
    top: 10rem;
    right: 1rem; 
  }
  .eventbtn:hover {
    background-color: var(--button-primary-hover-color);
  }


  @media screen and (min-width: 960px) {
    .eventbtn {
      top: 2rem;
      right: 9rem;
    }

  }