.eventbtn {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-self: center;
  align-items: center;
  width: 125px;
  height: 40px;
  background: #fff;
  border: 2px solid var(--button-primary-color);
  border-radius: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 7px;
  cursor: pointer;
  color: #030303;
}

.eventbtn:hover {
  background-color: var(--button-primary-color);
  color: #fff;
}

.button {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}

@media screen and (min-width: 960px) {
  .button {
    flex-direction: row;
    position: absolute;
    top: 3rem;
    right: 4rem;
  }
}
