.eventbtn {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-self: center;
    align-items: center;
    width: 125px;
    height: 40px;
    background: var(--button-primary-color);
    border-radius: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 7px;
    cursor: pointer;
    
  }

  .button {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    padding-right: 10px;
  }