.rubrik2{
    font-size: 35px;
    margin-top: -1rem;
    color: var(--heading-color);
}
.rubrik, .title{
    font-family: var(--heading-font-family);
    color: var(--heading-color);
    font-size: 30px;
    padding: 15px;
}
.title{
    padding: 0;
}

.insidetitle{
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    margin: 18px;
}

.mainHome{
    background: url(../public/background.svg) no-repeat;
    background-size: contain;
}

.arrow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.unifyP{
    font-family: var(--heading-font-family);
    color: var(--heading-color);
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 34px;
}

@media screen and (min-width: 960px){
    .main, .mainHome{
        padding-top: 5.5rem;
    }
    .rubrik{
        margin-top: -0.7rem;
    }
    }
