.modalContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.showModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;

}

.showModalInner {
 position: fixed;
 top: 10rem;


}

.flexContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: auto;
}

.eventform{
  border: 2px solid #4C2F11;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  width: 376px;
  height: auto;
  text-align: left;
}

.eventName, .submitBtn{
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border-radius: 10px;
  border: none;
  box-shadow: 1px 2px 6px #888888;
}

.subject{
  padding: 10px 10px;
  width: 50%;
  border-radius: 10px;
  background-color: #FDF0E1;
  box-shadow: 1px 2px 6px #888888;
  border: none;
  margin-top: 2rem;
}

.inputDateTime{
  display: inline;
  justify-content: center;
  gap: 10px;
  color: black;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  box-sizing: border-box;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 340px;
}

.box2 {
  display: flex;
  justify-content: center;
}

.test {
  position: relative;
  z-index: 0;
  width: 376px;
  height: 300px;
  object-fit: contain;
}

.description{
  position: absolute;
  z-index: 1;
  border-radius: 10px;
  width: 340px;
  height: 140px;
  padding: 10px;
}

.submitBtn{
  align-items: center;
  width: 330px;
  z-index: 2;
}

.submitBtn:hover{
background-color: #157C79;
}