.flexContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: auto;
}

.form {
  border: 1px solid red;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  width: 376px;
  height: 700px;
  text-align: left;
  position: relative;
}
    
.form .header {
  flex: 10%;
  display: grid;
  place-items: left;
  padding: 10px;
}
  
.form .header h1 {
  font-size: 30px;
  color: #4C2F11;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 0;
}


.headerBtn {
  display: flex;
}

.cancelBtn {
  border-radius: 6px;
  width: 70px;
  height: auto;
  color: #898787;
  background-color: white;
  border: 0 none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  padding: 2px;
  position: absolute;
  right: 1rem;
}

.backBtn {
  border-radius: 6px;
  width: auto;
  height: auto;
  background-color: transparent;
  color: white;
  border: 0 none;
  border-radius: 5px;
  cursor: pointer;
  padding: 2px;
  display: flex;
  align-items: center;
}

.form .body {
  flex: 70%;
}
    
.form .footer {
  flex: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
    
.form .footer button {
  border-radius: 6px;
  width: 333px;
  height: 40px;
  background-color: #D8D8D8;
  box-shadow: var(--button-box-shadow);
  font-weight: bold;
  color: #959595;
  border: 0 none;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
  margin: 5px;

  position: absolute;
  bottom: 1rem;
}

.formTag{
  display: flex;
  flex-direction: column;
  align-items: center;
}

    
.eventInfoContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
    
.eventInfoContainer input {
  
  width: 333px;
  height: 40px;
  padding-left: 5px;
  font-size: 12px;
  border-radius: 6px;
  border: 1px solid #898787;
}

.titleDiv, .categoryDiv{
  display: flex;
  flex-direction: column;
}

.titleDiv{
  margin-bottom: 25px;
}

.categoryDiv{
  width: 94%;
  margin-bottom: 16px;
}

.title p{
  color: #4C2F11;
  font-weight: 400;
  font-size: 16px;
}


.category{
  padding: 8px 8px;
  width: 50%;
  border-radius: 6px;
  background-color: #FDF0E1;
  box-shadow: 1px 2px 6px #888888;
  border: none;
  margin-top: 0px;
}

.dateTimeContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 333px;
}
    
.inputDateTime {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #4C2F11;
  margin-bottom: 10px;
}

.dateTimeBox {
  display: flex;
  flex-direction: column;
}

.dateTimeBox p {
  margin: 0px;
  margin-bottom: 10px;
}

.date, .time{
  display: flex;
  flex-direction: column;
}

.date input{
  height: 40px;
  width: 160px;
  padding: 8px 8px;
  margin: 0;
  color: #898787;
}

.time input{
  display: flex;
  align-items: center;
  height: 40px;
  width: 135px;
  padding: 8px 8px;
  margin: 0;
  color: #898787;
}

.adressContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 333px;
  margin-top: 10px;
}

.LocationContainer {
  display: flex;
  flex-direction: column;
  height: 40px;
}

.LocationContainer input {
  width: 160px;
  padding: 8px 8px;
}

.cityContainer {
  height: 40px;
  display: flex;
  flex-direction: column;
}

.city {
  height: 40px;
  width: 135px;
  padding: 8px 8px;
  border-radius: 6px;
  background-color: #fff;
  color: #4C2F11;
}

.priceAndParticipants {
  display: flex;
  flex-direction: column;
  width: 333px;
  margin-top: 40px;
}
  
.priceAndParticipants input {
  margin-top: 4px;
  width: 100px;   
  height: 30px; 
  color: #898787;
}
   
.priceParticipantsInner {
  padding-left: 5px;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  gap: 8px;
  margin-bottom: 1.5rem;
}

.priceAndParticipantsBox {
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.textPriceAndParticipants {
  font-size: 16px;
  margin: 0px;
  color: #222222;
}

.textOptionally {
  font-size: 14px;
  margin: 0px;
  color: #898787;
}

.krSt{
  position: absolute;
  right: 0;
  font-size: 1.2rem;
  color: #898787;
  display: flex;
  align-items: center;
}
    
.priceParticipantsInner input {
 position: absolute;
 top: 1px;
 right: 1.6rem;
 border-radius: 10px;
 display: flex;
 text-align: center;
 font-size: 1rem;
 padding-top: 4px;
}

.priceParticipantsSymbol{
  background-color: #F9C4B6;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.solidLine {
  margin-top: 35px;
  margin-bottom: 35px;
  border-bottom: 1px solid #898787;
  width:100%;
}
  
/*Description*/
.eventInfoContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  
.descriptionText {
  width: 333px;
  height: auto;
  padding-left: 5px;
  font-size: 20px;
  color: #898787;
}
  
.descriptionArea {
  padding: 10px;
  margin: 5px;
  width: 333px;
  height: 128px;
  padding-left: 5px;
  border-radius: 10px;
}

.descriptionDiv{
  display: flex;
  flex-direction: column;
}

.descriptionErrorMessage {
  display: flex;
  justify-content: center;
}


      
/* PROGRESS BAR */

.progressDots{
  display: flex;
  flex-direction: row;
  gap: 25px;
  position: absolute;
  bottom: 5rem;
  left: 9rem;
}

.progressDotFilled, .progressDotEmpty{
  background: #DC5027;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.progressDotEmpty{
  background: #dc51275d;
}

/* PREVIEW */
.eventName {
  font-family: var(--heading-font-family);
  color: var(--heading-color);
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  padding: 0;
}

.outerborder{
  width: 100%;
  height: 180px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom:25px;
  position: relative;
  border-radius: 10px;
}

.innerBorder{
  width: 96%;
  height: 93%;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items:center;
  position: absolute;
}

.eventimg{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(216, 216, 216);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items:flex-end;
  border: 3px solid green;

}

.imgWrapper{
  display: flex;
  width: 96%;
  height: 94%;
  justify-content: center;
}

.eventimg{
  border-radius: 10px;
}

.categoryBox{
  width: 125px;
  height: 25px;
  display: flex;
  position: absolute;
  left: 0;
  top: 23px;
  justify-content: center;
  align-items: center;
  font-style: normal;
  box-shadow: 0px 2.94415px 1.96277px rgba(0, 0, 0, 0.2), 0px 0.981383px 9.81383px rgba(0, 0, 0, 0.12), 0px 3.92553px 4.90692px rgba(0, 0, 0, 0.14), 0px 1.96277px 3.92553px -0.981383px rgba(0, 0, 0, 0.2);
}

.categoryText{
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 320px) {
  .container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .outerborder{
      width: 320px;
  }
}
.previewInfoContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.previewDateTime {
  display: flex;
  flex-direction: row;
  color: #DC5027;
  font-size: 16px;
  font-weight: 600;
  gap: 5px;
  margin: none;
  padding: none;
  height: 26px;

}

.previewDateTime input {
  width: 100%;
  border: none;
  color: #DC5027;
  margin-top: 3px;
  font-size: 16px;
  font-weight: 600;
}

.previewDate {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: none;
  width: 85px;
}

.previewTime {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: none;
}

.previewEventName {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 600;
  color: #222222;
  border: none;
  font-family: var(--default-font-family);
}
    
.previewAdressContainer {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  margin-top: 6px;
}

.previewLocationIcon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.previewLocation input {
  font-size: 16px;
  min-width: 120px;
  padding-left: 12px;
  font-family: var(--default-font-family);
  border: none;
}

.previewCity {
  font-size: 16px;
  padding-left: 27px;
  font-family: var(--default-font-family);
  border: none;
}

.previewHide {
  visibility: hidden;
}

.previewEventInfoContiner {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.previewEventInfo {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.previewEventInfo p {
  display: flex;
  align-items: center;
  color: #222222;
  margin: 0px;
  font-size: 16px;
  font-family: var(--default-font-family);
  font-weight: 500;
}

.previewEventInfoIcon {
  background-color: #F9C4B6;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.previewTextareaContainer {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  margin-top: 30px;
}

.previewDescription {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.previewDescription p{
  display: flex;
  align-items: center;
  color: #222222;
  margin: 0px;
  font-size: 16px;
  font-family: var(--default-font-family);
  font-weight: 500;
}

.previewTextarea {
  display: flex;
  text-align: center;
  width: 100%;
}

.previewTextarea textarea{
  font-size: 14px;
  width: 100%;
  height: 20px;
  padding: 0px;
  padding-left: 42px;
  overflow: hidden;
  border: none;
  border-style: none;
  border-color: Transparent;
  resize: none;
  color: #898787;
  font-family: var(--default-font-family);
}

.previewCategory {
  margin-top: 20px;
  margin-bottom: 10px;
  border: none;
  width: 100%;
}

/*BUTTONS*/

.nextPageBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  width: 333px;
  height: 40px;
  background-color: #D8D8D8;
  box-shadow: var(--button-box-shadow);
  font-weight: bold;
  color: #959595;
  border: 0 none;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
  margin: 5px;

  position: absolute;
  bottom: 1rem;
}

.showHideBtn {
  border-radius: 6px;
  width: 333px;
  height: 40px;
  background-color: transparent;
  font-weight: 500;
  font-size: 16px;
  color: #111;  
  border: 0 none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 5px;
  margin-top: 20px;
}

.submitBtn {
  border-radius: 6px;
  width: 333px;
  height: 40px;
  background-color: #157C79;
  box-shadow: var(--button-box-shadow);
  font-weight: 500;
  font-size: 16px;
  color: #fff;  
  border: 0 none;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 5px;
  margin-top: 40px;

  position: absolute;
  bottom: 1rem;
}

.previewSubmitBtn{
  flex: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/*POPUP WINDOW*/

.showModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.666);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;

}

.showModalInner {
 position: fixed;
 top: 16rem;
 width: 300px;
 height: 234px;
 background-color: #fff;
 border-radius: 10px;
}

.showModalInner h2{
  color: #4C2F11;
  font-size: 22px;
  font-weight: 600;
  margin: 0px;
  padding: 0px;
}

.partyImg {
  border: 1px solid black;
  width: 38px;
  height: 38px;
}

.showModalInner p {
  color: #959595;;
  font-weight: 500;
}

.solidLinePopUp {
  position: absolute;
  bottom: 3.2rem;
  left: 5%;
  border-bottom: 1px solid #898787;
  width:90%;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.okPopupBtn{
  border-radius: 6px;
  width: 50px;
  height: 40px;
  font-weight: 600;
  font-size: 20px;
  color:  #157C79;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px 5px;
  position: absolute;
  bottom: 0.5rem;
}

.cancelContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 25px;
}

.cancelBtnPopup {
  width: 50px;
  height: 40px;
  font-weight: 400;
  font-size: 18px;
  color:  #4C2F11;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 3.6rem;
  left: 7.4rem;
}

.continueEditBtnPopup {
  width: 50px;
  height: 40px;
  font-weight: 600;
  font-size: 20px;
  color:  #157C79;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: .6rem;
  left: 4.5rem;
}