.navbar {
    padding-left: 2%;
    margin-top: -3rem;
    margin-bottom: -1rem;
}

.buttons {
    display: flex;
    justify-content: space-between;
    padding-right: 3%;
    position: relative;
    top: -1rem;
}

.hamburger {
    background: transparent;
    position: relative;
    left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 44px;
    height: 37px;
    color: #000;
    border: none;
    cursor: pointer;
    padding-bottom: 15px;
}

.hamburger .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
  }

.hamburger .bar:visited {
    display: none;

}

.hamburger .bar1:visited {
    display: none;

}

.hamburger .bar1 {
    height: 3px;
    width: 50%;
    background-color: black;
    border-radius: 10px;
    
}
.navmenu {
    margin: 0;
    padding: 1.2rem 1rem;
    list-style: none;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;

    background: #fff;
    box-shadow: var(--button-box-shadow);
    width: fit-content;
    border-radius: 7px;

    position: absolute;
    animation-name: slideNav;
    animation-duration: 0.5s;
    z-index: 999;

}

@keyframes slideNav {
    from {transform: translateX(-500px);}
    to {transform: translateX(0px);}
}

.item, .konsertquizuteliv, .matdryck, .kulturlivsstil, .sportfritid, .konsthantverk {
    font-size: 1.2rem;
    color: var(--heading-color);
    padding: 0.4em;
    margin: 0.4em;
    width: 263px;
    height: 58px;
    left: 16px;
    top: 152px;
    background-color: #fff;
}

.item{
    margin: 0em;
}

.konsertquizuteliv {
    background-color: #FCD46C;
}

.matdryck{
    background-color: #E196BB;
}

.kulturlivsstil{
    background-color: #7299E6;
}

.sportfritid{
    background-color: #E67372;
}

.konsthantverk{
    background-color: #FCAE38;
}




.navmenu .item :hover {
    background-color: rgb(165, 164, 164);
    color: #fff;
}

.icons {
    display: flex;
    flex-direction:row;
    gap: 0.5rem;
    position: absolute;
    top: -0.5rem;
    right: 1rem;
  }

 .hr{
     position: absolute;
     top: 8rem;
    right: 4%;     
 }

 #konsertquizuteliv {
     background: #FCD46C;
 }

@media screen and (min-width: 960px){
    .hamburger {
        display: none;
    }

    .navmenu {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 1rem;

        background: none;
        box-shadow: none;
        width: 100%;
        border-radius: 7px;
        animation-name: none;

    }

    .buttons {
        justify-content: flex-end;
    }

    .icons{
        flex-direction: row;
        position: absolute;
        top: -2rem;
        right: 2.5rem;
    }
    .hr{
        display: none;
    }
    .navbar{
        padding-left: 0;
    }
 

}